<div class="top-utility-bar">
    <a href="#signin">Sign up / Sign in</a>
</div>

<div class="navbar-container">
    <nav class="navbar">
        <div class="nav-links left">
            <a href="../landing_page/index.html" class="nav-item">HOME</a>
            <a href="#book" class="nav-item">BOOK YOUR SPOT</a>
            <a href="../coaches/index.html" class="nav-item">COACHES</a>
        </div>
        
        <div class="logo-wrapper">
            <img src="../assets/Sharks_Logo.png" alt="Sharks Swim Team Logo">
        </div>
        
        <div class="nav-links right">
            <a href="#champs" class="nav-item">OUR CHAMPS</a>
            <a href="#shop" class="nav-item">SHOP</a>
            <a href="#contact" class="nav-item">CONTACT US</a>
        </div>
    </nav>
</div>